.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

.company-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.nav-link-list {
  margin: 0;
  display: flex;
  align-items: center;
}
.nav-link {
  color: #212121;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(0, 119, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
  text-decoration: none;
}

.contact-link {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: rgb(0, 119, 255);
}

.button-list {
  display: flex;
  align-items: center;
}

.work-buttons {
  width: 145px;
  height: 38px;
  left: 174px;
  top: 712px;
  text-align: center;
  font-weight: 500;
  background-color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.work-buttons:hover,
.work-buttons:focus {
  width: 145px;
  height: 38px;
  left: 174px;
  top: 712px;
  color: white;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.figure {
  display: block;
}

.footer {
  background-color: #2f303a;
}

.adress-info-footer {
  color: white;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}
