.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  background-color: #e5e5e5;
}
ul {
  list-style: none;
}

/* .link {
  color: #000000;
  text-decoration: none;
} */

.header-content {
  background-color: #ffffff;
  width: 1600px;
}

.company-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.nav-link-list {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.contact-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(0, 119, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-link {
  color: #757575;
  font-size: 14px;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: rgb(0, 119, 255);
}

.main-content {
  background-color: #ffffff;
}

.title-hero {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.order-service-button {
  position: absolute;
  display: flex;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 433px;
  color: white;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* .order-service-button:hover,
.order-service-button:focus {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 433px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */

.title2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.string-sides {
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
}

.strong-sides-description {
  color: #757575;
}
.team-list {
  background-color: #f5f4fa;
  width: 1600px;
}

.figure-item {
  width: 270px;
  height: 368px;
}

.footer {
  background-color: #2f303a;
  width: 1600px;
}

.logo-studio-footer {
  color: #ffffff;
}

.adress-info-footer {
  color: white;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}
